@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'CoFoSansMono';
  src: url('/fonts/CoFoSansMono-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pragmatica';
  src: url('/fonts/pragmatica_book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

svg,
img {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.headline-2xl-text {
  font-family: 'Pragmatica', sans-serif;
  font-size: var(--typography-headline-2xl-text, 64px);
  letter-spacing: -3.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.headline-xl-text {
  font-family: 'Pragmatica', sans-serif;
  font-size: var(--typography-headline-xl-text, 64px);
  letter-spacing: -3.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.headline-xs-text {
  font-family: 'Pragmatica', sans-serif;
  font-size: var(--typography-headline-xs-text, 64px);
  letter-spacing: -0.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.body-mono-xl {
  font-family: 'CoFoSansMono', monospace;
  font-size: var(--typography-body-xl-text, 24px);
  letter-spacing: -1.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-variant-ligatures: none;
}

.body-xl {
  font-size: var(--typography-body-xl-text, 24px);
  letter-spacing: -0.48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-variant-ligatures: none;
}

.headline-2xl-text,
.headline-xl-text,
.body-mono-xl,
.body-mono-md {
}

.body-xl {
  font-size: var(--typography-body-xl-text, 24px);
  letter-spacing: -0.48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-variant-ligatures: none;
}

.body-mono-sm {
  font-family: 'CoFoSansMono', monospace;
  font-size: var(--typography-body-sm-text, 18px);
  line-height: var(--typography-body-sm-height, 22px);
  letter-spacing: -0.44px;
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: none;
}

.body-mono-xs {
  font-family: 'CoFoSansMono', monospace;
  font-size: var(--typography-body-xs-text, 18px);
  line-height: var(--typography-body-xs-height, 22px);
  letter-spacing: -0.44px;
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: none;
}

:root {
  --typography-headline-2xl-text: 96px;
  --typography-headline-xl-text: 64px;
  --typography-headline-lg-text: 52px;
  --typography-headline-md-text: 40px;
  --typography-headline-sm-text: 36px;
  --typography-headline-xs-text: 32px;
  --typography-body-2xl-text: 28px;
  --typography-body-xl-text: 24px;
  --typography-body-lg-text: 20px;
  --typography-body-md-text: 18px;
  --typography-body-sm-text: 15px;
  --typography-body-xs-text: 13px;
  --typography-body-xs-height: 15px;
  --brand-black: #121212;
}

@media (max-width: 1024px) {
  :root {
    --typography-headline-2xl-text: 64px;
    --typography-headline-xl-text: 52px;
    --typography-headline-lg-text: 64px;
    --typography-headline-md-text: 64px;
    --typography-headline-sm-text: 64px;
    --typography-headline-xs-text: 64px;
    --typography-body-2xl-text: 24px;
    --typography-body-xl-text: 20px;
  }
}

@media (max-width: 640px) {
  :root {
    --typography-headline-2xl-text: 52px;
    --typography-headline-xl-text: 40px;
    --typography-headline-lg-text: 52px;
    --typography-headline-md-text: 52px;
    --typography-headline-sm-text: 52px;
    --typography-headline-xs-text: 52px;
    --typography-body-2xl-text: 24px;
    --typography-body-xl-text: 20px;
  }
}
