@import 'tailwindcss';

:root {
  --h3-white: #ffffff;
  --h3-black: #1b1b1b;
  --h3-mint: #84fdba;
  --h3-off-white: #f0f0f0;
  --h3-silver: #d9d9d9;
  --h3-steel: #7d7d7d;
  --h3-roti: #d8b665;
  --h3-lavander: #d1b0ea;

  --typography-headline-2xl-text: 96px;
  --typography-headline-xl-text: 64px;
  --typography-headline-lg-text: 52px;
  --typography-headline-md-text: 40px;
  --typography-headline-sm-text: 36px;
  --typography-headline-xs-text: 32px;
  --typography-body-2xl-text: 28px;
  --typography-body-xl-text: 24px;
  --typography-body-lg-text: 20px;
  --typography-body-md-text: 18px;
  --typography-body-sm-text: 15px;
  --typography-body-xs-text: 13px;
  --typography-body-xs-height: 15px;
}

@theme inline {
  --color-background: var(--h3-white);
  --color-foreground: var(--h3-black);

  --color-h3-white: var(--h3-white);
  --color-h3-black: var(--h3-black);
  --color-h3-mint: var(--h3-mint);
  --color-h3-off-white: var(--h3-off-white);
  --color-h3-silver: var(--h3-silver);
  --color-h3-steel: var(--h3-steel);
  --color-h3-roti: var(--h3-roti);
  --color-h3-lavander: var(--h3-lavander);

  --color-h3-text: var(--h3-black);
  --color-h3-text-foreground: var(--h3-white);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'CoFo Sans Mono';
  src:
    url('/fonts/cofosansmono/CoFoSansMono-Regular.woff2') format('woff2'),
    url('/fonts/cofosansmono/CoFoSansMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoFo Sans Mono';
  src:
    url('/fonts/cofosansmono/CoFoSansMono-Medium.woff2') format('woff2'),
    url('/fonts/cofosansmono/CoFoSansMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoFo Sans Mono';
  src:
    url('/fonts/cofosansmono/CoFoSansMono-Bold.woff2') format('woff2'),
    url('/fonts/cofosansmono/CoFoSansMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CoFo Sans Mono';
  src:
    url('/fonts/cofosansmono/CoFoSansMono-Black.woff2') format('woff2'),
    url('/fonts/cofosansmono/CoFoSansMono-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pragmatica';
  src:
    url('/fonts/pragmatica/PragmaticaBook-Reg.woff2') format('woff2'),
    url('/fonts/pragmatica/PragmaticaBook-Reg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

svg,
img {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.headline-2xl-text {
  font-family: 'Pragmatica', sans-serif;
  font-size: var(--typography-headline-2xl-text, 64px);
  letter-spacing: -3.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.headline-xl-text {
  font-family: 'Pragmatica', sans-serif;
  font-size: var(--typography-headline-xl-text, 64px);
  letter-spacing: -3.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.headline-sm-text {
  font-family: 'Pragmatica', sans-serif;
  font-size: var(--typography-headline-sm-text, 36px);
  letter-spacing: -1.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.headline-xs-text {
  font-family: 'Pragmatica', sans-serif;
  font-size: var(--typography-headline-xs-text, 64px);
  letter-spacing: -0.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.body-xl {
  font-size: var(--typography-body-xl-text, 24px);
  letter-spacing: -0.48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-variant-ligatures: none;
}

.body-mono-xl {
  font-family: 'CoFo Sans Mono', monospace;
  font-size: var(--typography-body-xl-text, 24px);
  letter-spacing: -1.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-variant-ligatures: none;
}

.body-mono-lg {
  font-family: 'CoFo Sans Mono', monospace;
  font-size: var(--typography-body-lg-text, 20px);
  letter-spacing: -1.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  font-variant-ligatures: none;
}

.body-mono-md {
  font-family: 'CoFo Sans Mono', monospace;
  font-size: var(--typography-body-md-text, 18px);
  line-height: var(--typography-body-md-height, 22px);
  letter-spacing: -0.44px;
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: none;
}

.body-mono-strong-md {
  font-family: 'CoFo Sans Mono';
  font-size: var(--typography-body-md-text, 18px);
  line-height: var(--typography-body-md-height, 22px);
  letter-spacing: -0.3px;
  font-style: normal;
  font-weight: 500;
  font-variant-ligatures: none;
}

.body-mono-sm {
  font-family: 'CoFo Sans Mono';
  font-size: var(--typography-body-sm-text, 18px);
  line-height: var(--typography-body-sm-height, 22px);
  letter-spacing: -0.44px;
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: none;
}

.body-mono-strong-sm {
  font-family: 'CoFo Sans Mono';
  font-size: var(--typography-body-sm-text, 18px);
  line-height: var(--typography-body-sm-height, 22px);
  letter-spacing: -0.44px;
  font-style: normal;
  font-weight: 500;
  font-variant-ligatures: none;
}

.body-mono-xs {
  font-family: 'CoFo Sans Mono', monospace;
  font-size: var(--typography-body-xs-text, 18px);
  line-height: var(--typography-body-xs-height, 22px);
  letter-spacing: -0.44px;
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: none;
}

.body-mono-strong-xs {
  font-family: 'CoFo Sans Mono', monospace;
  font-size: var(--typography-body-xs-text, 18px);
  line-height: var(--typography-body-xs-height, 22px);
  letter-spacing: -0.44px;
  font-style: normal;
  font-weight: 500;
  font-variant-ligatures: none;
}

@media (max-width: 1024px) {
  :root {
    --typography-headline-2xl-text: 64px;
    --typography-headline-xl-text: 52px;
    --typography-headline-lg-text: 64px;
    --typography-headline-md-text: 64px;
    --typography-headline-sm-text: 64px;
    --typography-headline-xs-text: 64px;
    --typography-body-2xl-text: 24px;
    --typography-body-xl-text: 20px;
  }
}

@media (max-width: 640px) {
  :root {
    --typography-headline-2xl-text: 52px;
    --typography-headline-xl-text: 40px;
    --typography-headline-lg-text: 52px;
    --typography-headline-md-text: 52px;
    --typography-headline-sm-text: 52px;
    --typography-headline-xs-text: 52px;
    --typography-body-2xl-text: 24px;
    --typography-body-xl-text: 20px;
  }
}
